[Unit]
Description=Turn Internet Access to dns server on

[Service]
Type=oneshot
ExecStart=sqlite3 /etc/pihole/gravity.db "Update domainlist SET enabled = 0 WHERE type IN (3) and id in (61, 62);"
ExecStart=pihole restartdns reload-lists

